<footer class="site-footer">

<div class="wrapper">

    <h2 class="footer-heading" align="center">PL/SQL</h2>

    <div align="center">
        <strong>tags:</strong> Oracle Linux ||
        Oracle DataBase ||
        Oracle Weblogic ||
        SQL & PL/SQL ||
        Java ||
        Oracle ADF
    </div>

        <p align="center">Opensource project with codes on <a href="https://github.com/plsql/plsql.info">github</a>.
            You can send pull requests to add or change something. May be it would be helpful for anyone.
        </p>
    </div>

</footer>
