<footer class="site-footer">

<div class="wrapper">


<!-- Google Analitics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4894954-24', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Analinics  -->



    <h2 class="footer-heading" align="center">PL/SQL</h2>

    <div align="center">
        <strong>tags:</strong> <a href="http://oracledba.net">Oracle Linux ||
        Oracle DataBase ||
        Oracle Weblogic</a> ||
        <a href="http://plsql.info">SQL & PL/SQL</a> ||
        <a href="http://javadev.org">Java</a> ||
        <a href="http://oracle-adf.com">Oracle ADF</a> ||
        <a href="http://jsdev.org">JavaScript Frameworks</a>
    </div>

        <p align="center">Opensource project with codes on <a href="https://github.com/plsql/plsql.info">github</a>.
            You can send pull requests to add or change something. May be it would be helpful for anyone.
        </p>
    </div>

</footer>
