<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        <!-- <a class="page-link" href="{{ site.baseurl }}/job_offer/">Job Offer</a> -->
        <a class="page-link" href="https://oracledba.net/chat/">Chat</a>
        <a class="page-link" href="https://oracledba.net/docker/">Easiest way to run Oracle DataBase (Docker
          and Linux)</a>
        <a class="page-link" href="https://oracledba.net/database/installation/">DataBase installation</a>
        <a class="page-link" href="{{ site.baseurl }}/plsql-demo-scripts/">PL/SQL Demo Scripts</a>
        <!-- <a class="page-link" href="{{ site.baseurl }}/oracle-developers-profiles/">Oracle Developers Profiles (for HR)</a> -->
        <a class="page-link" href="{{ site.baseurl }}/sitemap/">Site Map</a>
      </div>
    </nav>

  </div>

</header>